body {
  background: rgb(222,72,22); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}



.column {

  float: left;
  width: 50%;
}

.one{
    padding-left: 3rem;
}

.two {
    padding-right: 3rem;
}

.testimonial_image {
  width: 30%;
  margin-bottom: 1rem;
  padding-top: 10rem;
}

.test-two{
  color: red;
  font-size: 50px;
}

h1{
    font-size: 100px;
}

#thatass {
    font-weight: bold;
}

@media print {
  body, page {
    margin: 0;
  }
}